.text-quantum-700 {
    color: #1d4ed8
}

.bg-quantum-100 {
    background-color: #dbeafe
}

.hover\:bg-quantum-200:hover {
    background-color: #bfdbfe
}

:is(.dark .dark\:text-quantum-300) {
    color: #93c5fd
}

:is(.dark .dark\:bg-quantum-900) {
    background-color: #1e3a8a
}

:is(.dark .dark\:hover\:bg-quantum-800:hover) {
    background-color: #1e40af
}

.bg-quantum-600 {
    background-color: #2563eb
}

.me-3 {
    margin-inline-end: 0.75rem
}
