.text-quantum-700 {
    color: #1f1f35
}

.hover\:bg-quantum-200:hover {
    background-color: #e5e7eb
}

:is(.dark .dark\:text-quantum-300) {
    color: #d1d5db
}

:is(.dark .dark\:bg-quantum-900) {
    background-color: #11111d
}

:is(.dark .dark\:hover\:bg-quantum-800:hover) {
    background-color: #161620
}

.bg-quantum-400 {
    background-color: #161624
}

.me-3 {
    margin-inline-end: 0.75rem
}

.p-4 {
    padding: 1rem
}

.text-red-800 {
    color: #991b1b
}

.border-red-300 {
    border-color: #fca5a5
}

:is(.dark .dark\:text-red-400) {
    color: #f87171
}

:is(.dark .dark\:border-red-800) {
    border-color: #991b1b
}

#quantum-alert > :where(a):not(:where([class~="not-prose"] *)) {
    text-decoration: none;
}
